{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
    let detect_category = function () {

        switch ($('#id_institution_type').find('option:selected').text()) {
            case "Person":
                $('.field-institution_name').hide();
                $('#id_institution_name').attr('value', '');
                break;
            case "Persoană":
                $('.field-institution_name').hide();
                $('#id_institution_name').attr('value', '');
                break;
            default:
                $('.field-institution_name').show();
                break;
        }

        if ($('#id_therapy_needs_8').is(":checked")) {
            $('.field-other_therapy_needs').show();
        } else {
            $('.field-other_therapy_needs').hide();
        }

        if ($('#id_logsol_assistance-0-transport_required').is(":checked")) {
            $('.field-transport').show();
            $('.field-transport_details').show();
            $('.field-pick_up_location').show();
            $('.field-contact_person').show();
        } else {
            $('.field-transport').hide();
            $('.field-transport_details').hide();
            $('.field-pick_up_location').hide();
            $('.field-contact_person').hide();
        }

        if ($('#id_logsol_assistance-0-accommodation_required').is(":checked")) {
            $('.field-accommodation_details').show();
        } else {
            $('.field-accommodation_details').hide();
        }
    }

    $('#id_institution_type').on('change', function () {
        detect_category();
    });
    $('#id_therapy_needs_8').on('change', function () {
        detect_category();
    });
    $('#id_logsol_assistance-0-transport_required').on('change', function () {
        detect_category();
    });
    $('#id_logsol_assistance-0-accommodation_required').on('change', function () {
        detect_category();
    });
    detect_category();

</script>
{% endblock %}
