{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
    let detect_category = function () {

        switch ($('#id_institution_type').find('option:selected').text()) {
            case "Person":
                $('.field-institution_name').hide();
                $('#id_institution_name').attr('value', '');
                break;
            case "Persoană":
                $('.field-institution_name').hide();
                $('#id_institution_name').attr('value', '');
                break;
            default:
                $('.field-institution_name').show();
                break;
        }

        if ($('#id_known_complete_diagnostic').is(":checked")) {
            $('.field-complete_diagnostic').show();
            $('.field-date_diagnosed').show();
            $('.field-diagnosing_institution_name').show();

            $('.field-general_problem_description').hide();
            $('#id_general_problem_description').val('');
        } else {
            $('.field-complete_diagnostic').hide();
            $('.field-date_diagnosed').hide();
            $('.field-diagnosing_institution_name').hide();
            $('#id_complete_diagnostic').val('');
            $('#id_date_diagnosed').val('');
            $('#id_diagnosing_institution_name').val('');

            $('.field-general_problem_description').show();
        }

        if ($('#id_therapy_needs_8').is(":checked")) {
            $('.field-other_therapy_needs').show();
        } else {
            $('.field-other_therapy_needs').hide();
            $('#id_other_therapy_needs').val('');
        }

        // Logistic & Accomodation
        if ($('#id_logsol_assistance-0-transport_rep_external').is(":checked")) {

            $('.field-transport_rep_external_details').show();
        } else {

            $('.field-transport_rep_external_details').hide();
            $('#id_logsol_assistance-0-transport_rep_external_details').val('');
        }

        if ($('#id_logsol_assistance-0-transport_required').is(":checked")) {
            $('.field-transport').show();
            $('.field-pick_up_location').show();
            $('.field-destination_location').show();
            $('.field-transport_details').show();
            $('.field-transport_rep_external').show();
        } else {
            $('.field-transport').hide();
            $('.field-pick_up_location').hide();
            $('.field-destination_location').hide();
            $('.field-transport_details').hide();
            $('.field-transport_rep_external').hide();

            $('#id_logsol_assistance-0-transport_rep_external').prop('checked', false);
            $('.field-transport_rep_external_details').hide();
        }

        if ($('#id_logsol_assistance-0-accomodation_rep_external').is(":checked")) {
            $('.field-accomodation_rep_external_details').show();
        } else {
            $('.field-accomodation_rep_external_details').hide();
            $('#id_logsol_assistance-0-accomodation_rep_external_details').val('');
        }

        if ($('#id_logsol_assistance-0-accommodation_required').is(":checked")) {
            $('.field-accommodation_details').show();
            $('.field-accomodation_rep_external').show();
        } else {
            $('.field-accommodation_details').hide();
            $('.field-accomodation_rep_external').hide();

            $('#id_logsol_assistance-0-accomodation_rep_external').prop('checked', false);
            $('.field-accomodation_rep_external_details').hide();
        }

        // Medical Assistance
        switch ($('#id_med_assistance-0-case_status').find('option:selected').text()) {
            case "Clinic is Ready for takeover":
            case "Clinica este pregătită să primească pacientul":
                $('.field-estimated_arrival_date').show();

                $('.field-hospitalization_start').hide();
                $('.field-receiving_dr_full_name').hide();
                $('.field-comments').hide();
                $('.field-needs_transfer').hide();
                $('#id_med_assistance-0-needs_transfer').prop('checked', false);

                break;
            case "Case Pending":
            case "Caz în așteptare":
                $('.field-estimated_arrival_date').hide();
                $('#id_med_assistance-0-estimated_arrival_date').val('');

                $('.field-estimated_arrival_date').hide();
                $('.field-hospitalization_start').hide();
                $('.field-receiving_dr_full_name').hide();
                $('.field-comments').hide();
                $('.field-needs_transfer').hide();

                $('#id_med_assistance-0-needs_transfer').prop('checked', false);
                break;

            default:
                $('.field-estimated_arrival_date').hide();
                $('#id_med_assistance-0-estimated_arrival_date').val('');

                $('.field-estimated_arrival_date').show();
                $('.field-hospitalization_start').show();
                $('.field-receiving_dr_full_name').show();
                $('.field-comments').show();
                $('.field-needs_transfer').show();


                break;
        }


        if ($('#id_med_assistance-0-needs_transfer').is(":checked")) {
            $('.field-international_redirect').show();
            $('.field-redirect_institution').show();
            $('.field-specialty').show();
            $('.field-town').show();
            $('.field-country').show();
            $('.field-reason').show();
        } else {
            $('.field-international_redirect').hide();
            $('.field-redirect_institution').hide();
            $('.field-specialty').hide();
            $('.field-town').hide();
            $('.field-country').hide();
            $('.field-reason').hide();

            $('#id_med_assistance-0-international_redirect').prop('checked', false);
            $('#id_med_assistance-0-redirect_institution').val('');
            $('#id_med_assistance-0-specialty').val('');
            $('#id_med_assistance-0-town').val('');
            $('#id_med_assistance-0-country').val('');
            $('#id_med_assistance-0-reason').val('');
        }

    }



    $('#id_institution_type').on('change', function () {
        detect_category();
    });
    $('#id_known_complete_diagnostic').on('change', function () {
        detect_category();
    });
    $('#id_therapy_needs_8').on('change', function () {
        detect_category();
    });

    // Logistic & Accommodation
    $('#id_logsol_assistance-0-transport_required').on('change', function () {
        detect_category();
    });
    $('#id_logsol_assistance-0-transport_rep_external').on('change', function () {
        detect_category();
    });
    $('#id_logsol_assistance-0-accommodation_required').on('change', function () {
        detect_category();
    });
    $('#id_logsol_assistance-0-accomodation_rep_external').on('change', function () {
        detect_category();
    });

    // Medical Assistance
    $('#id_med_assistance-0-case_status').on('change', function () {
        detect_category();
    });
    $('#id_med_assistance-0-needs_transfer').on('change', function () {
        detect_category();
    });

    detect_category();

</script>
{% endblock %}
