# django and related apps
django>=3.2,<3.3
django-environ
django-storages
django-crispy-forms
django-recaptcha
django-ckeditor
django-multiselectfield

# django admin dashboard
django-jazzmin
django-import-export

# scheduler
django-q
django-q-email
supervisor

# py caching
# pymemcache

# slack error logging
requests

# database
psycopg2<2.10
dj-database-url

# data analysis
pandas
xlsxwriter

# file handling
whitenoise

# wsgi server
gunicorn
gevent
